<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name="CyberpunkDB"
			 connectionString="Data Source=10.110.157.174;Initial Catalog=CyberpunkLoginDB;User ID=U1_login;Password=123456"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>